// Custom.scss
$primary:       #E04622;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
// Option B: Include parts of Bootstrap

// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/root";

button:focus{
    outline: none!important;
}
.btn:focus{
    outline: none!important;
}

@import './core.scss';


/* Header */

$primary: var(--primary);

.navbar{
    width: 100%;
}
.nav-body {
    padding-right: none;
    width: 100%;
}
.nav-brand {
    padding: 0.5rem;
    display: inline-block;
}
.nav-logo {
    width: 96px;
    height: auto;
}

.nav-menu {
    display: none;
    border-bottom: 2px solid var(--primary);
}
.nav-menu.show {
    display: block;
}
.nav-link:hover{
    text-decoration: none;
}
.nav-link span {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.nav-link span:hover {
    background-color: lighten($color: theme-color("primary"), $amount: 40%);
    color: darken($color: theme-color("primary"), $amount: 10%);
}

.nav-link.active span {
    background-color: var(--primary);
    color: #fff;
}

.nav-btn {
    display: inline-block;
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    cursor: pointer;
}


@media (min-width: 768px) {
    .navbar{
        display: flex;
        width: 100%;
    }
    .nav-body {
        padding-right: 2rem;
    }
    .nav-brand {
        padding: 0.5rem;
    }
    .nav-logo {
        width: 96px;
        height: auto;
    }
    
    .nav-body {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .nav-link span {
        display: inline-block;
        padding: 1rem;
        font-size: 1.2rem;
    }
    .nav-link span:hover {
        background-color: lighten($color: theme-color("primary"), $amount: 40%);
        color: darken($color: theme-color("primary"), $amount: 10%);
    }
    
    .nav-link.active span {
        background-color: var(--primary);
        color: #fff;
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        display: block;
        border: none;
    }
    .nav-menu.show {
        display: block;
    }
}