// Custom.scss
$primary:       #E04622;
$secondary:  #0d182d;

// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
// Option B: Include parts of Bootstrap

// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/carousel";


@import 'react-responsive-carousel/lib/styles/carousel.min.css';
button:focus{
    outline: none!important;
}
.btn:focus{
    outline: none!important;
}
a {
    color: $primary;
    text-decoration: none;
    background-color: transparent;

}
a:hover {
    text-decoration: none;
}
@import './core.scss';

.alignleft {
    float: left;
    height: auto;
    margin: 0px 20px 10px 0;
}

.content {
    background: url('../images/city.svg') no-repeat 50% 100%;
    background-size: contain;
}

@media(min-width: 768px){
    .content {
        background: url('../images/city.svg') no-repeat 50% 100%;
        background-size: auto;
        background-attachment: fixed;
    }
}
/* Header */

$primary: var(--primary);

header {
    background: #E9EFF2 url(../images/footer-construction.jpg) no-repeat 50% 50%;
    background-position: center;
    
    box-shadow:
    0 1px 1.2px rgba(0, 0, 0, 0.034),
    0 2px 2.3px rgba(0, 0, 0, 0.048),
    0 5px 5px rgba(0, 0, 0, 0.06),
    0 7px 7px rgba(0, 0, 0, 0.072);
}
.navbar{
    width: 100%;
}
.nav-body {
    padding-right: none;
    width: 100%;
}
.nav-brand {
    padding: 0.5rem;
    display: inline-block;
}
.nav-logo {
    width: auto;
    height: 3rem;
}

.nav-menu {
   // display: none;
    border-bottom: 2px solid var(--primary);
}
.nav-link:hover{
    text-decoration: none;
}
.nav-link span {
    display: block;
    padding: 0.3rem;
    font-size: 1.2rem;
    text-align: center;
}
.nav-link span:hover {
    background-color: lighten($color: theme-color("primary"), $amount: 40%);
    color: darken($color: theme-color("primary"), $amount: 10%);
}

.nav-link.active span {
    background-color: var(--primary);
    color: #fff;
}

.nav-btn {
    cursor: pointer;
}

div.header-links {
    //display: flex;
    //flex-direction: column;
    line-height: 1.4;
    font-size: 0.8rem;
}
.header-links span {
    display: inline-block;
    padding: 0 0.5rem;
}
@media (min-width: 768px) {
    .navbar{
        display: flex;
        width: 100%;
    }
    .collapse:not(.show).navbar-collapse {
        display: flex!important;
    }
    .nav-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-body {
        padding-right: 2rem;
    }
    
    .nav-body {
        width: 100%;
        display: flex;
        padding-left: 5rem;
        justify-content: flex-start;
    }
    .nav-link span {
        display: inline-block;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        border-radius: 0.3rem 0.3rem 0 0;
    }
    .nav-link span:hover {
        background-color: lighten($color: theme-color("primary"), $amount: 40%);
        color: darken($color: theme-color("primary"), $amount: 10%);
    }
    
    .nav-link.active span {
        background-color: var(--primary);
        color: #fff;
    }
    .nav-btn {
        display: none;
    }
    .nav-menu {
        border: none;
    }
}


//footer

.footer {
    background: #212529;
    font-size: 1.2em;
    padding: 0;
    position: relative;
    clear: both;
    background: #E9EFF2 url(../images/footer-construction.jpg) no-repeat 50% 50%;
    overflow: hidden;
    border-top: 1px solid $primary;
}

.footer .list-footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a:not(.btn):not(.no-footer-css) {
    color: #777;
    transition: all 0.1s ease-in-out;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer:hover a{
    text-decoration: none;
}

.footer a:not(.btn):not(.no-footer-css):hover {
    text-decoration: none;
    color: #FFF;
}
@media (min-width: 768px){
    .logo {
        margin-top: 75px;
    }
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer a {
    color: #333;
}
.footer .footer-copyright {
    background: transparent;
    margin: -10px 0 0;
    padding: 20px 0 0;
    font-size: 14px;
    border-top: 1px solid #FFF;
}
@media (min-width: 992px){
    .footer:after {
        background: #000 none repeat scroll 0 0;
        bottom: -233px;
        content: "";
        height: 400px;
        position: absolute;
        right: -177px;
        transform: rotate(50deg);
        width: 400px;
        z-index: 1;
    }
}

//carousel
.custom.carousel {
    border: 3px solid adjust-color($color: theme-color('secondary'), $alpha: -0.1)!important;
    border-radius: 0.2rem;
    transition: height 0.3s;
}
.custom.carousel .carousel-item {
    position: relative;
}
.custom.carousel .carousel-caption {
    bottom: 40px;
}
.custom.carousel .carousel-body {
    background-color: adjust-color($color: theme-color('secondary'), $alpha: -0.3);
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    padding-bottom: 0;
    padding-right: 0!important;
    z-index: 20;
}
.custom.carousel .carousel-body .slide-title{
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}
.custom.carousel .carousel-body .slide-body {
    margin-right: 1rem;
    margin-left: 1rem;
}
.custom.carousel .carousel-body .controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
}
.custom.carousel .carousel-body .control-button {
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    background-color: adjust-color($color: theme-color('secondary'), $alpha: -0.1);
    border: 1px solid adjust-color($color: theme-color('primary'), $alpha: -0.1);
}
.custom.carousel .carousel-body .control-button:hover {
    cursor: pointer;
    color: $primary;
}

@media(max-width: 768px){
    .custom.carousel .carousel-img {
        min-height: 50vh;
        object-fit: cover;
    }
    .custom.carousel .carousel-indicators{
        top: 10px;
    }
}



@media(min-width: 769px){
    .custom.carousel {
        border: 5px solid adjust-color($color: theme-color('secondary'), $alpha: -0.1)!important;
    }
    .custom.carousel .carousel-caption {
        font-size: 0.8rem;
        font-weight: 300;
    }
    .custom.carousel .carousel-body {
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        padding-right: 1rem;
        padding-top: 0.2rem;
        max-width: 38%;
        height: 100%;
    }
    .custom.carousel .carousel-body .controls {
        position: sticky;
        bottom: 0;
    }
}
@media(min-width: 1101px){
    .custom.carousel .carousel-body {
        max-width: 30%;
    }
}


//service page css
.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;  
    transition: all 0.3s;
}

.service-card:hover{
    //border: 1px solid $primary;
    box-shadow:
    0 5px 2.2px rgba(0, 0, 0, 0.075),
    0 10px 5.3px rgba(0, 0, 0, 0.116),
    0 15px 10px rgba(0, 0, 0, 0.16),
    0 25px 17.9px rgba(0, 0, 0, 0.082),
    0 45px 33.4px rgba(0, 0, 0, 0.096),
    0 110px 80px rgba(0, 0, 0, 0.14);
    background-color: $secondary;
}

.service-card .service-card-title {
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem 0;
    text-align: center;
}
.service-card .service-card-img {
    opacity: 1;
    transition: all 0.3s;
}
.service-card:hover .service-card-img {
    opacity: 0.5;
}

#portfolio-content {
    background: rgba(255, 255, 255, 0.930);
    padding: 1rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;  
}


#portfolio-content h2 {
    color: $primary;
}
.carousel.carousel-slider{
    margin: auto;
    border: 5px solid adjust-color($color: theme-color('primary'), $alpha: -0.4);
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)!important;
}
.carousel .control-arrow {
    background-color: $primary;
}

.carousel .slide .legend {
    background: $primary;
    opacity: 0.8;
}

.post-content {
    background: rgba(255, 255, 255, 0.930);
    padding: 1rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;  
}
.post-content h1 {
    color: $primary;
}
.custom-post {
    display: flex;
    flex-direction: column;
}

@media(min-width: 768px){
    .custom-post{
        flex-direction: row;
    }
}