html {
	direction: ltr;
	overflow-x: hidden;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
	background: #F1F0EB;
	color: rgb(90, 90, 90);
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}

body a {
	outline: none !important;
}

html.safari:not(.no-safari-overflow-x-fix) .body {
	overflow-x: hidden;
}

html[dir="rtl"] .body {
	overflow-x: hidden;
}

li {
	line-height: 24px;
}

.list li {
    margin-bottom: 13px;
}

/* Responsive */
@media (max-width: 575px) {
	body {
		font-size: 13px;
	}
}
